.lists{
    display:flex;
    justify-content: space-between;
    align-items: center;
padding: 0.5rem 1rem;
margin: 0.1rem 0;
color: var(--color-text);
}
.checkbox{
    width:1.3rem;
    height:1.3rem;
}

.label{
flex:1 1 0%;
margin-left: 0.5rem;
font-size: 1.1rem;
}

.icon{
    width:25px;
    height:25px;
    background-color: var(--color-grey);
    border-radius: 100%;
    transition: all 150ms ease-in-out;
}

.icon:hover{
    background-color: var(--color-accent);
    transform: rotate(15deg) scale(1.2);
}

.button{
    color:var(--color-text);
    background-color: transparent;
}